.logo{
    background-color: blue;
    width: 800px;
    border-radius: 40px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    padding: 10px 100px ;
}
