

html{ 
    position:relative; 
    min-height:100%;
}
 
#content { 
    height: 80%; 
    text-align: center;
    justify-content: center;
    justify-items:center;
    padding-bottom: 50px;
    align-content: center;
    padding:20rem;
}
 
.push {
    height: 50px;
}
 
#footer {
    height: 50px;
    position:absolute;
    bottom:0;
}