.header {
    background-color: #0047d4;
    min-height: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: left;
    font-size: 10px;
    color: white;
  }

  .btn {
      background-color: white;
      color: black; 
      padding: 10px;
  }
